<app-header></app-header>

<div class="container">
    <div class="form">
        <div class="titulo">

            <h2>Cambiar Contraseña</h2>
        </div>
        <div class="input">
            <span class="material-icons">lock</span>
            <p-password   [toggleMask]="true"  [feedback]="false"/>
            <!-- <span class="material-icons toggle-password">visibility</span> -->
        </div>
        <div class="input">
            <span class="material-icons">lock</span>
            <p-password   [toggleMask]="true"  [feedback]="false"/>
            <!-- <span class="material-icons toggle-password">visibility</span> -->
        </div>
        <button type="submit" id="submitBtn" disabled >Modificar</button>
    </div>
</div>