<app-header></app-header>
<div class="container">
    <div class="form">
        <div class="titulo">
            <h2>Reportes</h2>
        </div>
        <div class="flex flex-row-reverse">
            <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
        </div>
        <div class="filtros flex flex-row flex-nowrap justify-content-between align-items-normal mb-5 mt-5">
            <div class="flex flex-row gap-1">

                <div class="field">
                    <div class="input-with-icon">
                        <input type="text" placeholder="Ingrese Nombre" pInputText [(ngModel)]="nombreFilter"
                            (ngModelChange)="searchReports()">
                        <span class="material-icons search-icon">search</span>
                    </div>
                </div>
                <div class="field">
                    <div class="input-with-icon">
                        
                        <p-select id="inputTipoCobertura" placeholder="Seleccione una cobertura"  [options]="coberturas" [(ngModel)]="coberturaFilter"
                        optionLabel="nombre_cobertura" optionValue="nombre_cobertura" (ngModelChange)="searchReports()"
                        ></p-select>
                    </div>
                </div>
               
            </div>

            <div class="flex flex-row">
                <div>
                    <label for="">Desde :</label>
                    <p-datepicker class="date" [(ngModel)]="fechaDesdeFilter" [iconDisplay]="'input'" [showIcon]="true"
                        inputId="inputFecha" dateFormat="dd/mm/yy" [showButtonBar]="true"
                        [inputStyleClass]="' p-inputtext p-component'" 
                        ></p-datepicker>
                </div>
                <div>
                    <label for="">Hasta :</label>
                    <p-datepicker class="date" [(ngModel)]="fechaHastaFilter" [iconDisplay]="'input'" [showIcon]="true"
                        inputId="inputFecha" dateFormat="dd/mm/yy" [showButtonBar]="true"
                        [inputStyleClass]="' p-inputtext p-component'"
                        ></p-datepicker>
                </div>
                 <p-button label="Filtrar"  (onClick)="searchReports()"/>
            </div>

        </div>
        <div class="table">
            <p-table [value]="reporteslist" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="rows"
                     [totalRecords]="totalRecords"
                     [first]="first"
                     [lazy]="true"
                     (onLazyLoad)="loadReports($event)"
                     [loading]="loading"
                     [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template #header>
                    <tr>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <th>Fecha</th>
                        <th>Mail</th>
                        <th>Tipo de Estudio</th>
                        <th>Cobertura</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template #body let-reportes>
                    <tr>
                        <td>{{ reportes.nombre_paciente }}</td>
                        <td>{{ reportes.dni_paciente }}</td>
                        <td>{{ reportes.fecha }}</td>
                        <td>{{ reportes.mail_paciente }}</td>
                        <td>{{ reportes.tipo_informe }}</td>
                        <td>{{ nombreCobertura(reportes.id_cobertura)}}</td>
                        <td >
                            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true"   pTooltip="Editar" tooltipPosition="top" />
                            <p-button icon="pi pi-send" severity="success" [rounded]="true"    pTooltip="Reenviar" tooltipPosition="top"/>
                            <p-button icon="pi pi-download" severity="help" [rounded]="true"   pTooltip="Descargar" tooltipPosition="top"/>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No se encontraron informes.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>