<div class="container">
    <h1 class="nombre">Diana Estrin</h1>
    <nav >
        <ul class="ul-menu">
            <li><a  class="menu" href="formulario" >Carga de Informes</a></li>
            <li><a class="menu" href="reportes" >Reportes</a></li>
            <li><a class="menu" href="coberturas" >Coberturas</a></li>
            <li><a class="menu" href="reset" >Contraseña</a></li>
            <li><a class="menu" href="pacientes" >Pacientes</a></li>
            <li><a class="menu" href="" >Salir</a></li>
        </ul>
    </nav>
</div>