.container {
    text-align: center;
    /* Centra el texto */
    width: 100%;
    /* height: 100vh; */
    /* Puedes mantenerlo si quieres que el container ocupe toda la altura */
    min-height: 100vh;
    /* O usar min-height para que crezca si el contenido es más alto */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el 'form' */
    align-items: center;
    /* Centra verticalmente el 'form' */
    flex-direction: column;
    /* Apila los elementos en el container (el título y el form) */
    /* Un poco de espacio alrededor */
    box-sizing: border-box;
}

.form {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    max-width: 65rem;
    /* Limita el ancho en pantallas grandes */
    padding: 30px;
    /* Espaciado interno */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #e1e1e1;
    background-color: #ffffff;
    /* Fondo blanco */

}

/* Estilos para el título y el mensaje de obligatorios, si quieres estilizarlos */
.titulo {
    margin-bottom: 20px;
    text-align: center;
    /* Centra el título */
    font-size: 25px;
    font-weight: bold;
    color: #007bbd;
}

.sub {
    font-size: 20px;
}

.form>div:first-child {
    text-align: left;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #666;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.field label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.field input {

    border: 1px solid #c6bcbc;
    border-radius: 4px;
    width: 100%;
    height: 45px;

}

.field p-select {

    border: 1px solid #c6bcbc;
    border-radius: 4px;
    width: 100%;
    height: 45px;

}


.field textarea {

    border: 1px solid #c6bcbc;
    border-radius: 4px;
    width: 100%;
    height: 100px;
}

.required-asterisk {
    color: #007bbd;
    font-weight: bold;
}

::ng-deep .date .p-button {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: var(--p-button-primary-color);
    background: #007bbd;
    border: 1px solid #007bbd;
    padding-block: var(--p-button-padding-y);
    padding-inline: var(--p-button-padding-x);
    font-size: 1rem;
    font-family: inherit;
    font-feature-settings: inherit;
    transition: background var(--p-button-transition-duration), color var(--p-button-transition-duration), border-color var(--p-button-transition-duration), outline-color var(--p-button-transition-duration), box-shadow var(--p-button-transition-duration);
    border-radius: var(--p-button-border-radius);
    outline-color: transparent;
    gap: var(--p-button-gap);
}

::ng-deep .date .p-button-text {
    background: transparent;
    border-color: transparent;
    color: #007bbd;
}

::ng-deep .date .p-inputtext {
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 1rem;
    color: #ffffff00;
    transition: background var(--p-inputtext-transition-duration), color var(--p-inputtext-transition-duration), border-color var(--p-inputtext-transition-duration), outline-color var(--p-inputtext-transition-duration), box-shadow var(--p-inputtext-transition-duration);
    appearance: none;
    width: 14.5rem;
    height: 2.8rem;
    border: 1px solid #c6bcbc;
    border-radius: 4px;
}

::ng-deep .iconArchivos .p-button {
    color: #000000;
    background: #10b98100;
    width: 7rem;
    border: 1px solid;
    border-radius: 10rem;
}

::ng-deep .iconArchivos .p-button:not(:disabled):hover {
    background-color: #007bbd;
    border: 1px solid #007bbd;
    color: #ffffff;
}

::ng-deep .btEnviar  {
    cursor: pointer;
    justify-content: center;
    color: var(--p-button-primary-color);
    background: #007bbd;
    border: 1px solid #007bbd;
    padding-block: var(--p-button-padding-y);
    padding-inline: var(--p-button-padding-x);
    border-radius: var(--p-button-border-radius);
    gap: var(--p-button-gap);
    width: 100%;
}
::ng-deep .btEnviar .p-button:not(:disabled):hover  {
    background-color: #007bbd;
    border: 1px solid #007bbd;
    color: #ffffff;
}
.p-button {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: var(--p-button-primary-color);
    background: #007bbd;
    border: 1px solid var(--p-button-primary-border-color);
    padding-block: var(--p-button-padding-y);
    padding-inline: var(--p-button-padding-x);
    font-size: 1rem;
    font-family: inherit;
    font-feature-settings: inherit;
    transition: background var(--p-button-transition-duration), color var(--p-button-transition-duration), border-color var(--p-button-transition-duration), outline-color var(--p-button-transition-duration), box-shadow var(--p-button-transition-duration);
    border-radius: var(--p-button-border-radius);
    outline-color: transparent;
    gap: var(--p-button-gap);
}