<app-header></app-header>

<div class="container">
    <div class="form ">
        <div>(<span class="required-asterisk">*</span>) Datos obligatorios</div>
        <div class="titulo">
            <h2>Carga de informe</h2>
        </div>

        <div class="formgrid grid ">
            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputFecha">Fecha <span class="required-asterisk">*</span></label>
                    <p-datepicker class="date" [(ngModel)]="fecha" [iconDisplay]="'input'" [showIcon]="true"
                        inputId="inputFecha" dateFormat="dd/mm/yy" [showButtonBar]="true"
                        [inputStyleClass]="' p-inputtext p-component'"
                        ></p-datepicker>
                </div>
            </div>
            <div class="col-12 md:col-4">
                <div class="field">
                    <label for="inputTipoEstudio">Tipo de estudio <span class="required-asterisk">*</span></label>
                    
                    <p-select id="inputTipoEstudio" [options]="tipoEstudio" [(ngModel)]="selectTipoEstudio" optionLabel="name" class="w-full md:w-56" />
                </div>
            </div>
        </div>

        <h3 class="titulo sub">Datos del paciente</h3>

        <div class="formgrid grid">
            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputApellidoNombre">Apellido y Nombre <span class="required-asterisk">*</span></label>
                    <input id="inputApellidoNombre" type="text" pInputText>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputFechaNacimiento">Fecha de nacimiento</label>
                    <p-datepicker class="date" [(ngModel)]="fechaNacimiento" [iconDisplay]="'input'" [showIcon]="true"
                        inputId="inputFecha" dateFormat="dd/mm/yy" [showButtonBar]="true"
                        [inputStyleClass]="' p-inputtext p-component'"
                        ></p-datepicker>
                </div>
            </div>

            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputEdad">Edad</label>
                    <input id="inputEdad" type="number" pInputText>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputNumeroDocumento">Número de documento <span
                            class="required-asterisk">*</span></label>
                    <input id="inputNumeroDocumento" type="text" pInputText>
                </div>
            </div>

            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputTipoCobertura">Tipo de cobertura <span class="required-asterisk">*</span></label>
                    <input id="inputTipoCobertura" type="text" pInputText>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputNumeroAfiliado">Número de afiliado</label>
                    <input id="inputNumeroAfiliado" type="text" pInputText>
                </div>
            </div>

            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputMail">Mail <span class="required-asterisk">*</span></label>
                    <input id="inputMail" type="text" pInputText>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputMedicoEnvia">Médico que envía el estudio</label>
                    <input id="inputMedicoEnvia" type="text" pInputText>
                </div>
            </div>
            <div class="col-12">
                <div class="field">
                    <label for="inputMotivoEstudio">Motivo del estudio</label>
                    <input id="inputMotivoEstudio" type="text" pInputText>
                </div>
            </div>
        </div>

        <h3 class="titulo sub">Informe del estudio</h3>
        <div class="formgrid grid">
            <div class="col-12">
                <div class="field">
                    <label for="inputEsfago">Esófago</label>
                    <textarea id="inputEsfago" rows="3" pInputTextarea></textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="field">
                    <label for="inputEstomago">Estómago</label>
                    <textarea id="inputEstomago" rows="3" pInputTextarea></textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="field">
                    <label for="inputDuodeno">Duodeno</label>
                    <textarea id="inputDuodeno" rows="3" pInputTextarea></textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="field">
                    <label for="inputInforme">Informe</label>
                    <textarea id="inputInforme" rows="5" pInputTextarea></textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="field">
                    <label for="inputConclusion">Conclusión</label>
                    <textarea id="inputConclusion" rows="5" pInputTextarea></textarea>
                </div>
            </div>

            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputTerapeutica">¿Se efectuó terapéutica?</label>
                    
                    <p-select [options]="siNo" id="inputTerapeutica" [(ngModel)]="selectTerapeutica" optionLabel="name"  class="w-full md:w-56" />
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputCualTerapeutica">¿Cual?</label>
                    <!-- <input id="inputCualTerapeutica" type="text" pInputText> -->
                    <p-autocomplete class=""
                    id="inputCualTerapeutica"
                    [(ngModel)]="selectTipoTerapeutica"
                    [suggestions]="filteredTerapeuticaSuggestions"
                    (completeMethod)="searchTerapeutica($event)"
                    field="name"

                ></p-autocomplete>
                    
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputBiopsia">¿Se efectuó biopsia?</label>
                    
                    <p-select id="inputBiopsia" [options]="siNo" [(ngModel)]="selectBiopsia" optionLabel="name" class="w-full md:w-56" />
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="field">
                    <label for="inputCantidadFrascos">Cantidad de frascos</label>
                    <input id="inputCantidadFrascos" type="number" pInputText>
                </div>
            </div>
            <div class="col-12">
                <div class="field">
                    <label for="inputSubirFotos">Subir fotos <span class="required-asterisk">*</span> </label>

                    <div class="card shadow-1 surface-card border-round-xl p-5 w-full">
                        <p-fileUpload class="file" name="myfile[]" accept="image/*" mode="advanced" [multiple]="true"
                            [showUploadButton]="false" [showCancelButton]="false" (onUpload)="onTemplatedUpload()"
                            (onSelect)="onSelectedFiles($event)" [customUpload]="true" [auto]="false">
                            <!-- HEADER CUSTOM -->
                            <ng-template #header let-chooseCallback="chooseCallback" let-clearCallback="clearCallback"
                            let-uploadCallback="uploadCallback" let-files>
                                <div class="w-full">
                                    <p-button class="iconArchivos"  icon="pi pi-cloud-upload text-7xl"  (onClick)="choose($event, chooseCallback)" ></p-button>
                                   
                                </div>
                            </ng-template>

                            <!-- CONTENT CUSTOM -->
                            <ng-template #content let-files let-removeFileCallback="removeFileCallback">
                                <div *ngIf="files?.length > 0" class="flex flex-wrap gap-4">
                                    <div *ngFor="let file of files; let i = index"
                                        class="p-3 border-1 surface-border border-round-xl surface-card w-36 flex flex-column items-center text-center relative">
                                        <img [src]="file.objectURL" [alt]="file.name" class="mb-2 border-round"
                                            style="width: 150px; height: 150px; object-fit: cover" />
                                        <span class="text-sm font-semibold truncate w-full mb-1">{{ file.name }}</span>
                                        <small class="text-xs text-surface-500">{{ formatSize(file.size) }}</small>


                                        <p-button icon="pi pi-times"
                                            (click)="onRemoveTemplatingFile($event, file, removeFileCallback, i)"
                                            [outlined]="true" [rounded]="true" severity="danger"
                                            styleClass="absolute top-0 right-0 m-1"></p-button>
                                    </div>
                                </div>
                            </ng-template>

                            <!-- EMPTY -->
                            <ng-template #empty>
                                <div class=" w-full">
                                    
                                    <p class="mt-4 mb-0 text-sm">No se a cargado ningun archivo.</p>
                                </div>
                            </ng-template>

                            <!-- REMOVE DEFAULT FILE TEMPLATE -->
                            <ng-template #file></ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="fiel button">
                    <p-button class="btEnviar" pButton type="submit" label="Enviar" />
                </div>
            </div>
        </div>
    </div>
</div>