<div class="container">
    <div class="form">
        <div class="title">

            <h1>Iniciar Sesion</h1>
        </div>
        <div class="grupinput">
            <div class="input">
                <span class="material-icons">person</span>
                <input type="text" placeholder="Usuario" name="usuario" id="usuario" [(ngModel)]="username"
                    (input)="checkLoginButtonStatus()">
            </div>
            <p-message severity="error" variant="simple" size="small" *ngIf="username?.length === 0 ">Nombre de usuario
                es requerido</p-message>
        </div>




        <div class="grupinput">
            <div class="input">
                <span class="material-icons">lock</span>
                <p-password placeholder="Contraseña" [toggleMask]="true" [feedback]="false" [(ngModel)]="password"
                    (input)="checkLoginButtonStatus()" />

            </div>
            <p-message severity="error" variant="simple" size="small" *ngIf="password?.length === 0 ">Contraseña de usuario
                es requerida</p-message>
        </div>


        <p-button type="submit" id="submitBtn" [disabled]="isLoginButtonDisabled" (click)="login() "  [label]="enviando ? 'Ingresando...' : 'Ingresar '"></p-button>
        <div class="mt-5 card flex justify-center">
            <p-toast />
            <p-confirmdialog />
            <a class="olvidaste" (click)="confirm()">¿Olvidaste tu contraseña?</a>
        </div>

    </div>

</div>