<app-header></app-header>
<p-toast />
<div class="container">
    <div class="form">
        <div class="titulo">
            <h2>Lista de Coberturas</h2>
        </div>
        <div class="flex flex-column">
            <div class="flex btcobertura">
                <p-button label="Agregar Cobertura" (click)="abrirdialigo('Agregar' )" />
            </div>
            <div>
                <p-table [value]="coberturas" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
                    <ng-template #header>
                        <tr>

                            <th>Nombre Cobertura</th>
                            <th>Acciones</th>

                        </tr>
                    </ng-template>
                    <ng-template #body let-coberturas>
                        <tr>

                            <td>{{ coberturas.nombre_cobertura }}</td>
                            <td>


                                <p-button *ngIf="coberturas.nombre_cobertura != 'SIN COBERTURA'" icon="pi pi-pencil"
                                    class="mr-2" [rounded]="true"  severity="warn" pTooltip="Editar" tooltipPosition="top"
                                    (click)="abrirdialigo('Editar', coberturas.id_cobertura)" />

                                <p-button *ngIf="coberturas.nombre_cobertura != 'SIN COBERTURA'" icon="pi pi-trash"
                                    severity="danger" [rounded]="true"  pTooltip="Eliminar" tooltipPosition="top"
                                    (click)="abrirdialigo('Eliminar', coberturas.id_cobertura)" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
    </div>
</div>